<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluate New NLP</title>
</head>

<body>
    <div id="root">
        <h1>News Evaluation System - Powered by MeaningCloud</h1>
        <section class="input">
            <label for="website">Enter a website:</label>
            <input id="website" type="text" placeholder="http://www.news.com/post"
                value="https://www.bbc.co.uk/news/uk-55722168"></input>
            <button id="evaluate" type="submit">Evaluate!</button>
        </section>
        <section class="output">
            <label for="result">Results:</label>
            <p id="result">Waiting for a link to evaluate.</p>
        </section>
    </div>
</body>

</html>